.container-geral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-gameScreen {
  background-color: red;
  width: 100%;
  height: 40rem;
}

.container-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-gameButtons {
  justify-content: center;
}
